* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

p {
  line-height: 25px;
}

body {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
